.red {

	background-color: red;
}
.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}
 .bild{
	height: 50px;
	width: 80px;
}
.no-background{
	background-color: transparent;

}
.no-border{
	border:0;
}
.background-grey{
	background-color: #191919;
}
.divider2{
	height: 1px;
	background-color: grey;
}

.footer{
	margin-top: 20px;
	padding: 30px;
}
.divider-text{
	color: #a0a09f;
	margin: 0;
	padding: 0;
}
.background-image{
	text-align: center;
	background-image: url("https://static.wixstatic.com/media/62fcc7_952fd0b1ea3149838c5ffa91cf817f8e~mv2.jpg/v1/fill/w_1024,h_446,al_c,q_85/62fcc7_952fd0b1ea3149838c5ffa91cf817f8e~mv2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron{
	margin-top: 0px;
	background-color: transparent;
}

#second {
	margin-bottom: 130px;
}
.white{
	color: white;
}

.rounded-circle{
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#backButton{
	margin-top: 80px; 
	background-color: rgba(61,155,233,1); 
	text-align: center
}
.socialLogo {
	display: flex;
	justify-content: center;
}

.socialLogo img {

	display:inline;
	width: 20px;
	height: 20px;
	margin: 3px;
	
}

.tagga {
	
	text-align: center;
	color: grey;
	
}

.googlebild {

}

.line {

	background-color: #33ccff;
	height: 40px;
}

.line2 {

	background-color: #e6e6e6;
	height: 100px;
}

.attvälja {

	background-color: white;
	text-align: center;
	color: grey;
}

 .paket1{

	height: 250px;
	background-color: #000099;
	text-align: center;
	color: white;

}

.paket2 {
	height: 250px;
	background-color: blue;
	text-align: center;
	color: #F4F7F7;

}

.paket3 {
	height: 250px;
	background-color: #0000CD;
	text-align: center;
	color: #F4F7F7;

}

.paket4 {
	height: 250px;
	background-color: blue;
	text-align: center;
	color: #F4F7F7;

} 
.boka {
	margin-top: 20px;
}

.bokningarna {



}

.BookingAndSearch {

	display: flex;
	align-items: center;

}

.linje{
	
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px


}

#bokningar div div h1 {
	text-align: center;
}

.GoAndSearch {
	padding: 0;
}
.go {

}

  







